.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cards-list {
  list-style-type: none;
  padding: 0;
}
.bg-container {
  background-color: #282925;

  padding: 20px;
}

@media screen and (min-width: 768px) {
  .cards-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .bg-container {
    background-color: #282925;
    height: 100vh;
    padding: 20px;
  }
}

@media screen and (min-width: 768px) {
  .cards-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.button-previous {
  background-color: #05b5f0;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border-width: 0px;
}
.button-next {
  background-color: #05b5f0;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border-width: 0px;
}
.button-container {
  display: flex;
  flex-direction: row;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
